<h1 class="text-center mt-4"> Edit category name </h1>

<%= render 'form' %>


<div class="mb-3">  
  <%= link_to '[Cancel and return to Category]', category_path(@category) , class: "text-info"%>
</div>